@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
body {
  background-image: url("images/chalktex.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1220px) {
  body {
    background-size: auto;
    background-repeat: repeat;
  }
}
/*HEADER INFORMATION -----------------------------------------------------*/
header {
  width: 100%;
  height: 150px;
  background-image: url("images/bannertemp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 150px;
}
@media (max-width: 800px) {
  header {
    width: 100%;
    height: 150px;
    background-image: url("images/maileelogo.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 150px;
  }
}
.pagedesc {
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.67);
  margin: 0 auto;
  padding: 10px;
}
/*NAVBAR INFORMATION -----------------------------------------------------*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffbc0f;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: #f11b36;
}
ul.topnav li a.active {
  background-color: white;
  color: black;
}
ul.topnav li.right {
  float: right;
}
@media screen and (max-width: 1220px) {
  ul.topnav li.right, ul.topnav li {
    float: none;
  }
}
/*INDEX INFORMATION - INDEX INFORMATION - INDEX INFORMATION - INDEX INFORMATION - INDEX INFORMATION - */
/*FLEXBOX containing LEFT[(1)gallery link,(2)steps to craft,(3)work with me] AND RIGHT[faq/aside]--------------------------*/
.flex-container {
  display: flex;
  flex-flow: row wrap;
  background-color: hsla(0, 0%, 0%, 0.67);
}
.flex-container > div {
  display: flex;
  flex-flow: row wrap;
  color: white;
  margin: 5px;
  font-size: 18px;
  padding: 0 10px 0 10px;
}
.meat {
  width: 600px;
}
.potatoes {
  width: 200px;
}
#part1 {
  width: 100%;
  margin: 5px;
  background-color: white;
}
#part1 > a > img {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#part2 {
  width: 325px;
  margin: 5px;
  background-color: #F11B36;
  text-align: center;
  padding: 10px;
}
#part2 > a {
  text-decoration: none;
  color: black;
}
#part3 {
  flex-grow: 2;
  margin: 5px;
  background-color: white;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#part3 > a > img {
  width: 470px;
}
@media (max-width: 1220px) {
  .container {
    width: 90%;
  }
  .makemestack {
    flex: 100%;
  }
  #part2 {
    flex: 100%;
  }
  #part3 {
    flex: 100%;
  }
  #part1 > a > img {
    width: 100%;
  }
  #part3 > a > img {
    width: 100%;
  }
}
/*ASIDE ---------------------------------------------*/
.main-page-FAQ {
  text-align: center;
  background-color: #4990a3;
  width: 350px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}
@media (max-width: 1220px) {
  .main-page-FAQ {
    width: 100%;
  }
}
/*GALLERY INFORMATION - GALLERY INFORMATION - GALLERY INFORMATION - GALLERY INFORMATION - */
.flex-container2 {
  display: flex;
  flex-flow: row wrap;
  background-color: hsla(0, 0%, 0%, 0.67);
}
.flex-container2 > section {
  display: flex;
  flex-flow: row wrap;
  color: white;
  margin: 5px;
  font-size: 18px;
  padding: 10 10px 10 10px;
}
#quest {
  width: 100%;
  margin: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quest > img {
  margin: 5px;
}
#expo {
  width: 100%;
  margin: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#expo > img {
  margin: 5px;
}
.galsub {
  color: white;
  padding-left: 100px;
  padding-right: 100px;
}
#secondgallery {
  color: white;
  align-text: center;
  margin: 0 auto;
  padding: 10px;
}
#processlink {
  color: green;
  background-color: blanchedalmond;
  text-decoration: none;
}
@media (max-width: 1220px) {
  .galsub {
    align-text: center;
    margin: 0 auto;
    padding: 10px;
  }
}
.galsub img {
	width:90%;
}
/*SERVICES PAGE - SERVICES PAGE - SERVICES PAGE - SERVICES PAGE*/
.flex-container3 {
  display: flex;
  flex-flow: row wrap;
  background-color: hsla(0, 0%, 0%, 0.67);
}
.flex-container3 > section {
  display: flex;
  flex-flow: row wrap;
  color: white;
  margin: 5px;
  font-size: 18px;
  padding: 10 10px 10 10px;
}
.prosub {
  text-align: center;
  margin: 0 auto;
}
.prosub div {
  margin-bottom: 10px;
  margin-top: 10px;
  margin: 0 auto;
  width: 90%;
}
@media (max-width: 600px) {
  .prosub img {
    width: 90%;
  }
}
/*SERIVCES PAGE - SERVICES PAGE - SERIVCES PAGE - SERVICES PAGE - */
.servcont {
  background-color: hsla(0, 0%, 0%, 0.67);
}
.flex-container4 {
  display: flex;
  flex-flow: row wrap;
}
.flex-container4 > section {
  display: flex;
  flex-flow: row wrap;
  color: white;
  margin: 5px;
  font-size: 18px;
  padding: 10 10px 10 10px;
}
.servtwin {
  text-align: center;
  margin: 0 auto;
  width: 450px;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .servtwin {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .servtwin img {
    width: 100%;
  }
}
/*ABOUT INFO - ABOUT INFO - ABOUT INFO - ABOUT INFO*/
.aboutcont {
  background-color: hsla(0, 0%, 0%, 0.67);
}
.flex-container5 {
  width: 800px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}
.flex-container5 div {
  color: white;
  width: 400px;
  font-size: 18px;
  padding: 10 10px 10 10px;
  margin: 0 auto;
  align-text: center;
}
.flex-container5 img {
  padding-left: 10px;
  width: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.aboutme {
  text-align: center;
  margin: 0 auto;
  padding-top: 75px;
}
@media (max-width: 1000px) {
  .flex-container5 {
    width: 95%;
  }
  .flex-container5 img {
    width: 75%;
    height: auto;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .aboutme {
    padding-top: 0;
  }
}
/*CONTACT PAGE - CONTACT PAGE - CONTACT PAGE - CONTACT PAGE*/
.contcont {
  background-color: hsla(0, 0%, 0%, 0.67);
}
.flex-container6 {
  width: 800px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}
.flex-container6 div {
  color: white;
  width: 400px;
  font-size: 18px;
  padding: 10 10px 10 10px;
  text-align: center;
  margin: 0 auto;
  background-color: #4990a3;
}
/*FOOTER information --------------------------------*/
footer {
  margin: 0 auto;
  background-color: black;
  color: white;
  text-align: center;
}